* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: girlroy;
  color: #000000;
}

html,
body {
  height: 100%;
  width: 100%;
  
}
main{
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 20px;
  
}
.box{
  height: 300px;
  width: 300px;
  background: linear-gradient(rgb(193, 7, 255),rgb(0, 0, 0),rgb(0, 255, 242));
  border-radius: 20px;
}
button{
  padding: 10px 40px;
  position: absolute;
  top: 50%;
  right: 45%;
  
  border-radius: 50px;
  background: linear-gradient(lightgreen,seagreen);
  color: black;
  font-size: 35px;
  font-weight: 700;
}
.button:active{
  scale: 0.70;
}
.circle{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(rgba(0, 180, 240, 0.94),rgb(0, 247, 0));
}